{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>สินค้าที่นำเสนอขาย</title>
{% endblock %}

{% block content %}
<h1><i class="fa-solid fa-inbox"></i> สินค้าที่นำเสนอขาย</h1>
<img src="{% static 'images/cb650r.jpg' %}" class="img-fluid" style="max-width: 500px; height: 300px;">
<img src="{% static 'images/cbr650r.jpg' %}" class="img-fluid" style="max-width: 600px; height: 400px;">
<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-bag-shopping"></i> Honda CB650R รถปี 2019 จดทะเบียนปี 2020 เลขไมล์ 1x,xxx กิโลเมตร
                        เครื่องยนต์ 4 สูบเรียง DOHC 4 จังหวะ 4 วาล์วต่อสูบ ระบายความร้อนด้วยน้ำ ขนาด 649 ซีซี </h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-bag-shopping"></i> Honda CBR650R รถปี 2019 จดทะเบียนปี 2020 เลขไมล์ 2x,xxx กิโลเมตร
                        เครื่องยนต์ 4 สูบเรียง DOHC 4 จังหวะ 4 วาล์วต่อสูบ ระบายความร้อนด้วยน้ำ ขนาด 649 ซีซี </h5>
                </div>
            </div>
        </div>
    </div> 
    <div class="row row-cols-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-money-bill"></i> ราคา 223,000 บาท</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-money-bill"></i> ราคา 245,000 บาท</h5>
                </div>
            </div>
        </div>
    </div>    
</div> 
<img src="{% static 'images/z900.jpg' %}" class="img-fluid" style="max-width: 600px; height: 300px;">
<img src="{% static 'images/zx4r.jpg' %}" class="img-fluid" style="max-width: 550px; height: 350px;">  
<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-bag-shopping"></i> Kawasaki z900 รถปี 2019 จดทะเบียนปี 2020 เลขไมล์ 12,xxx กิโลเมตร
                        เครื่องยนต์ 4 สูบเรียง DOHC 4 จังหวะ 4 วาล์วต่อสูบ ระบายความร้อนด้วยน้ำ ขนาด 948 ซีซี </h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-bag-shopping"></i> kawasaki ninja zx4r รถปี 2021 จดทะเบียนปี 2020 เลขไมล์ 8,xxx กิโลเมตร
                        เครื่องยนต์ 4 สูบเรียง DOHC 4 จังหวะ 4 วาล์วต่อสูบ ระบายความร้อนด้วยน้ำ ขนาด 400 ซีซี </h5>
                </div>
            </div>
        </div>
    </div> 
    <div class="row row-cols-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-money-bill"></i> ราคา 199,000 บาท</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-money-bill"></i> ราคา 212,000 บาท</h5>
                </div>
            </div>
        </div>
    </div>    
</div>   
{% endblock %}